<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Practice</title>
  </head>
  <body class="bg-gray-900 text-white">
    <div class="main w-full min-h-screen bg-gray-900 text-white">
      <div class="form mt-6 p-4 w-full rounded shadow-lg">
        <form action="/create" method="post" class="w-full h-full flex flex-col items-center mt-8">
          <input
            type="text"
            name="taskName"
            placeholder="Enter your task name"
            class="border border-gray-300 outline-none block rounded p-2 mb-4 w-full max-w-md"
          />
          <textarea
            name="taskDescription"
            id=""
            class="border border-gray-300 outline-none block rounded p-2 mb-4 w-full max-w-md resize-none"
            placeholder="Enter task description"
            name="taskDescription"
          ></textarea>
          <input
            type="submit"
            class="border border-gray-300 block rounded cursor-pointer p-2 mb-4 w-full max-w-md"
          />
        </form>
      </div>
      <div class="tasks flex flex-wrap flex-col mt-8 gap-5 mx-12">
        <h1 class="font-bold text-3xl">Your Tasks :-</h1>
        <div class="flex flex-wrap mt-8 gap-5">
          <% if (files && files.length > 0) { %> <% files.forEach(file => { %>
          <div
            class="task w-74 px-3 py-4 rounded-md bg-zinc-800 shadow-md mb-4"
          >
            <h1 class="text-2xl tracking-tighter"><%= file%></h1>
            <a
              href="/tasks/<%=file%>""
              class="text-blue-500 hover:underline inline-block mt-4"
              >Read More</a
            >
          </div>
          <% }) } else { %>
          <h1 class="text-2xl tracking-tighter">No Tasks Available</h1>
          <% } %>
        </div>
      </div>

      <!-- <h1 class="text-4xl font-bold mb-4">Welcome to the Practice Page</h1>
      <p class="text-lg mb-8">This is a simple practice page using EJS and Tailwind CSS.</p>
      <a href="/practice" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Go to Practice</a> -->
    </div>
    <script src="/javascript/script.js"></script>
  </body>
</html>
